<div class="modal fade" id="agents-dlg">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"> 
            <i class="fa fa-user" aria-hidden="true"></i>
            <i class="fa fa-home" aria-hidden="true"></i>
             BIBFRAME Agents
        </h4>
      </div>
      <div class="modal-body">
          <blockquote class="blockquote">
          Agents are people, organizations, jurisdictions, etc., associated with a 
          Work or Instance through roles such as author, editor, artist, photographer, 
          composer, illustrator, etc.
            <footer class="blockquote-footer">
                <a href="https://www.loc.gov/bibframe/docs/bibframe2-model.html">
                    Overview of the BIBFRAME 2.0 Model
                </a>
            </footer>
        </blockquote>

          <h4><i class="fa fa-user" aria-hidden="true"></i> People</h4>

        <p>One fine body&hellip;</p>
        <h4><i class="fa fa-home" aria-hidden="true"></i> Organizations</h4>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
