<h2>RDF Serializations</h2>
<p class="lead">RDF graphs can be serialized into a number of different 
formats including XML and JSON, along with RDF graph specific formats called Turtle 
N-Triples, N-Quads, and N3.</p>
<div class="row">
    <div class="col-md-6">
        <h3>RDF/XML</h3>
    </div>
    <div class="col-md-6">
        <h3>Turtle (Terse RDF Triple Language) &amp; N3 (Notation3)</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>JSON-LD</h3>
    </div>
    <div class="col-md-6">
        <h3>N-Triples &amp; N-Quads</h3>
    </div>
</div>
