<div class="modal fade" id="subjects-dlg">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"> 
            <i class="fa fa-user" aria-hidden="true"></i>
            <i class="fa fa-home" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
            <i class="fa fa-map-marker" aria-hidden="true"></i>

            Subjects
        </h4>
      </div>
      <div class="modal-body">
          <blockquote  class="blockquote">
              Concepts that may be subjects include topics, places, temporal expressions, 
              events, works, instances, items, agents, etc.
               <footer class="blockquote-footer">
                <a href="https://www.loc.gov/bibframe/docs/bibframe2-model.html">
                    Overview of the BIBFRAME 2.0 Model
                </a>
            </footer>

          </blockquote>
        <h5><i class="fa fa-user" aria-hidden="true"></i>BIBFRAME Person</h5>
        <p>A BIBFRAME Person can serve as a subject for an BIBFRAME Work or Instance.</p>
        <div class="row">
            <section class="col-md-8">
            <pre class="prettyprint">
&lt;http://bibcat.org/f2f0aa80-2c55-11e6-811c-a8667f19014b&gt; a bf:Work;
    bf:subject [ a bf:Person ;
        owl:sameAs http://id.loc.gov/authorities/names/n78095603 ;
        ] .
            </pre>
            </section>
        </div>
        <h5><i class="fa fa-home" aria-hidden="true"></i>BIBFRAME Organizations</h5>
        <h5><i class="fa fa-tag" aria-hidden="true"></i> BIBFRAME Topics</h5>
        <h5><i class="fa fa-map-marker" aria-hidden="true"></i> BIBFRAME Cartographic</h5>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
