{% extends 'base.html' %}

{% block main %}
<h3>ATLA 2016 - Long Beach</h3>
<h2>BIBCAT</h2>
<p class="lead">
    In 2014 the Library of Congress issued an RFQ for a BIBFRAME 
    "search and display" system to highlight BIBFRAME. Aaron Schmidt
    of Influx Library User Interface Design and Jeremy Nelson were 
    awarded the contract with the Library of Congress that with the additional
    of Mike Stabile, resulted in 
    BIBCAT - a BIBFRAME Catalog - a lightweight catalog web application 
    that uses the backend BIBFRAME Datastore. 
</p>
<img src="{{ url_for('static', filename="img/your-catalog.svg") }}" 
    class="thumbnail center-block">
{% endblock %}
