{% extends 'base.html' %}

{% block main %}
<div class="row">
    <section class="col-md-8">
        <h1>About</h1>
        <dl>
            <dt>What will cover the workshop cover?</dt>
            <dd>An introduction to the core concepts of Library 
             Linked Data with a focus on the BIBFRAME and other
             related vocabularies. This workshop includes both 
             theory and the opportunity to create BIBFRAME entities
             from participant supplied MARC records.
            </dd>
            <dt>Why it will be of interest to the Technical Services 
             Interest Group  and others?</dt>
            <dd>With the Library of Congress creation and promotion of
             BIBFRAME Linked Data vocabulary to replace MARC, and OCLC
            </dd>
            <dt>Anticipated learning outcomes</dt>
            <dd>
                <ul>
                    <li>Understand RDF Graphs and Triples</li>
                    <li>BIBFRAME development to version 2.0</li>
                    <li>Conversion of MARC records to BIBFRAME</li>
                    <li>Other uses Library Linked Data</li> 
                    <li>Cloud hosted BIBCAT instances of participants
                     collections</li>
                </ul>
            </dd> 
            <dt>Qualifications to speak on this topic</dt>
            <dd>
                Jeremy Nelson is the Metadata and Systems Librarian at 
                <a href="https://www.coloradocollege.edu/">Colorado College</a>.
            </dd>
        </dl>
    </section>
</div>
{% endblock %}
