{% extends 'base.html' %}

{% block main %}
<a href="{{ url_for('page', name="open-badge") }}">
  <img src="{{ url_for("static", filename="img/merit-badge-1.png") }}" 
     style="height: 400px"
     class="img-thumbnail pull-xs-right"></a>
<h3>ATLA 2016 - Long Beach</h3>
<h1>BIBFRAME &amp; Linked Data Workshop</h1>
<div class="row">
    <section class="col-md-6">
        <h2 class="bg-success text-xs-center">Morning</h2>
        <ul class="lead">
            <li><a href="{{ url_for("page", name="linked-data-intro") }}">What is
                Linked Data?</a></li>
            <li><a href="{{ url_for("page", name="bibframe") }}">BIBFRAME &amp; Schema.org</a></li>
        </ul>
    </section>
    <section class="col-md-6">
        <h2 class="bg-primary text-xs-center">Afternoon</h2>
        <ul class="lead">
            <li><a href="{{ url_for("page", name="marc-bibframe-map") }}">MARC-to-BIBFRAME</a></li>
            <li><a href="{{ url_for("page", name="bibcat") }}">BIBCAT</a></li>
        </ul>
    </section>
</div>
{% endblock %}
