{% extends 'base.html' %}

{% block main %}
<h3>ATLA 2016 - Long Beach</h3>
<h1>What is Linked Data?</h1>
<div class="row">
    <div class="col-md-6">
    <p class="lead">
    Libraries and cultural heritage organizations are shifting 
    from MARC21 and XML  metadata standards to Linked-Data vocabularies.
    </p>
    <p class="lead">Linked Data is about representing information
    in statements called RDF Triples i.e. subject-predicate-object.
    like <a href="http://bibframe.org">BIBFRAME</a> and 
    <a href="http://schema.org">Schema.org.</a> 
    <a href="http://www.rdaregistry.info/">RDA</a> and 
    <a href="http://www.marc21rdf.info/">MARC</a> can also be reformulated into
    Linked Data triples as well.
    </div>
    <div class="col-md-6">
    </div>
	  
</div>
{% endblock %}
