{% extends 'base.html' %}

{% block main %}
<h3>ATLA 2016 - Long Beach</h3>
<h2>MARC21 to BIBFRAME</h2>
<div class="row">
    <div class="col-md-5">
       <h3>BIBFRAME 1.0</h3>
       <p>Part of the open-source <a href="https://github.com/lcnetdev/marc2bibframe">
       https://github.com/lcnetdev/marc2bibframe</a></p>       
    </div>
</div>
{% include 'snippets/marc2bibframe.html' %}
<hr>
{% include 'snippets/marc2bf2.html' %}
<h1 class="text-xs-center text-danger display-3">So what is missing?</h1>
<h3>Exercise</h3>
<p class="lead">Using OCLC's <a href="http://experimental.worldcat.org/marcusage/">MARC Usage in WorldCat</a> to 
identify the most popular MARC field/subfield, find the corresponding MARC RDF URI at <a href="http://www.marc21rdf.info/">MARC21
vocabularies</a>. Now, based on the <a href="http://id.loc.gov/ontologies/bibframe-category.html">BIBFRAME 2.0 Category View</a>, 
map your MARC field(s)/subfield(s) to the BIBFRAME property.</p>
{% endblock %}

{% block more_js %}
<script>
    $(function () {
          $('[data-toggle="popover"]').popover()
      })
</script>
{% endblock %}
