<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="{{ url_for('page') }}">ATLA 2016 - BIBFRAME Workshop</a>
  <ul class="nav navbar-nav">
    <li class="nav-item {% if request.path.endswith("/") %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('page', name='index') }}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item {% if request.path.endswith("linked-data-intro") %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('page', name='linked-data-intro') }}">Linked Data</a>
    </li>
    <li class="nav-item{% if request.path.endswith("bibframe") %} active{% endif %}">
        <a class="nav-link" href="{{ url_for('page', name='bibframe') }}">BIBFRAME</a>
    </li>
    <li class="nav-item{% if request.path.endswith("map") %} active{% endif %}">
        <a class="nav-link" href="{{ url_for('page', name='marc-bibframe-map') }}">MARC-to-BIBFRAME</a>
    </li>
    <li class="nav-item{% if request.path.endswith("bibcat") %} active{% endif %}">
        <a class="nav-link" href="{{ url_for('page', name='bibcat') }}">BIBCAT 2.0</a>
    </li>
    <li class="nav-item dropdown {% if request.path.endswith("description") or request.path.endswith("glossary") or request.path.endswith("sources") %} active{% endif %}">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
         aria-haspopup="true" aria-expanded="false">More</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('page', name='description') }}">About</a>
            <a class="dropdown-item" href="{{ url_for('page', name='open-badge') }}">Open Badge</a>
            <a class="dropdown-item" href="{{ url_for('page', name='glossary') }}">Glossary</a>
        </div>
    </li>
  </ul>
</nav>
