{% extends 'base.html' %}

{% block main %}
<h3>ATLA 2016 - Long Beach</h3>
<h2>Open Badge</h2>
<p class="lead">You can earn your BIBFRAME merit open badge for attending this 
presentation.</p>
<div class="row">
    <section class="col-md-3">
<img src="{{ url_for("static", filename="img/merit-badge-1.png") }}" 
     style="height: 400px"
     class="img-thumbnail"></a>
    </section>
    <section class='col-md-8'>
    <a href="http://openbadges.org/">
    <img src="{{ url_for("static", filename="img/open-badges-logos.png") }}"
        class="pull-right"></a>
    <h3>Critera</h3>
    <ul class="lead">
        <li>Attendance at ATLA 2016 BIBFRAME and Linked Data workshop on
            June 15, 2016 in Long Beach, California.</li>
        <li>Creation of at least one RDF turtle file</li>
    </ul>
    </section>
</div>
<hr>
<h1 class="display-3 text-xs-center text-success">Thank-you!!</h1>
{% endblock %}
